/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* Global Variables */
/* where it starts */
/* line 11, ../sass/screen.scss */
body {
  background: #f8f8f8;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5em; }

/* line 18, ../sass/screen.scss */
.content {
  background: #f8f8f8; }

/* line 21, ../sass/screen.scss */
div, li, ul, p {
  box-sizing: border-box; }

/* line 24, ../sass/screen.scss */
.bar-title {
  height: 64px;
  background: #0048d0;
  border-bottom: 0px solid #0048d0;
  box-sizing: border-box;
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: 1px solid #e1e1e1; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    /* line 24, ../sass/screen.scss */
    .bar-title {
      /* Retina-specific stuff here */
      border: 0px;
      box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.5); } }
  /* line 40, ../sass/screen.scss */
  .bar-title .title {
    top: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    height: 43px; }
  /* line 46, ../sass/screen.scss */
  .bar-title .logo {
    background-image: url("../img/assets/sulit-logo-white.png");
    background-size: auto 70%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    text-indent: -9999px;
    overflow: hidden; }

/* line 57, ../sass/screen.scss */
.bar-title [class*="button"] {
  background: transparent;
  box-shadow: 0px 0px 0px black;
  border: 0px;
  margin-top: 20px;
  text-shadow: 0px 0px 0px;
  font-size: 12pt;
  font-weight: 200;
  letter-spacing: 1px; }

/* line 67, ../sass/screen.scss */
.bar-title ~ .content {
  top: 64px; }

/* line 70, ../sass/screen.scss */
.bar-header-secondary {
  top: 65px; }

/* line 73, ../sass/screen.scss */
.location-finder {
  padding: 10px 10px 0px; }

/* line 77, ../sass/screen.scss */
.header {
  font-size: 14pt;
  display: block;
  padding: 5px 10px 5px;
  font-weight: normal; }

/* line 83, ../sass/screen.scss */
.slider.popular {
  height: 150px; }

/* line 87, ../sass/screen.scss */
.slider .left-ad {
  position: relative;
  background-color: #333;
  height: 150px;
  float: left;
  width: 50%;
  white-space: normal; }
/* line 95, ../sass/screen.scss */
.slider .right-ad {
  position: relative;
  background-color: #999;
  height: 150px;
  float: right;
  width: 50%;
  white-space: normal; }

/* line 104, ../sass/screen.scss */
.ad-details {
  background: rgba(255, 255, 255, 0.85);
  position: absolute;
  bottom: 0px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  word-wrap: break-word;
  padding: 5px 5px 0px 5px; }
  /* line 114, ../sass/screen.scss */
  .ad-details a {
    display: block;
    word-wrap: break-word; }
    /* line 117, ../sass/screen.scss */
    .ad-details a .ad-title {
      max-height: 32px;
      overflow: hidden;
      text-overflow: ellipsis; }

/* line 124, ../sass/screen.scss */
.premium {
  background: rgba(255, 255, 204, 0.85); }

/* line 127, ../sass/screen.scss */
.list {
  margin-bottom: 0px;
  padding: 0px;
  border-top: 0px; }
  /* line 131, ../sass/screen.scss */
  .list li {
    border: 0px;
    background-color: transparent;
    background: repeat-x bottom left url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='1'><rect fill='#e1e1e1' x='0' y='0' width='1' height='0.5'/></svg>"); }
    /* line 136, ../sass/screen.scss */
    .list li a {
      background: repeat-x bottom left url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='1'><rect fill='#e1e1e1' x='0' y='0' width='1' height='0.5'/></svg>"); }

/* line 142, ../sass/screen.scss */
.list-divider {
  font-weight: 500;
  color: #666;
  background: #f8f8f8 repeat-x bottom left url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='1'><rect fill='#e1e1e1' x='0' y='0' width='1' height='0.5'/></svg>") !important;
  margin: 0px;
  border: 0px;
  font-size: 0.8em;
  padding: 5px 10px;
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.5);
  border-top: 0px !important;
  border-bottom: 0px !important;
  position: relative;
  z-index: 3; }

/* line 158, ../sass/screen.scss */
.ad-image {
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center top; }

/* line 163, ../sass/screen.scss */
.price {
  color: #900;
  font-weight: 500;
  font-size: 0.8em; }

/* line 168, ../sass/screen.scss */
.ad-title {
  line-height: 1.2em;
  font-weight: normal; }

/* line 172, ../sass/screen.scss */
.recently-viewed-ad {
  background: #333;
  height: 180px; }

/* line 176, ../sass/screen.scss */
.subheader {
  font-weight: 500;
  color: #666;
  background-color: transparent;
  margin: 0px;
  border: 0px;
  font-size: 0.8em;
  padding: 0px 10px;
  line-height: 1em;
  font-weight: 400; }

/* line 187, ../sass/screen.scss */
.content-section {
  padding: 0px 10px 5px;
  box-sizing: border-box;
  border-bottom: 1px solid #e1e1e1; }
  /* line 191, ../sass/screen.scss */
  .content-section .header {
    padding: 0px; }
  /* line 194, ../sass/screen.scss */
  .content-section .subheader {
    padding: 0px 0px 5px 0px; }

/* line 198, ../sass/screen.scss */
.clearfix {
  clear: both; }

/* line 201, ../sass/screen.scss */
.snap-drawers, .snap-drawer {
  padding-top: 20px;
  background: #333;
  color: #fff; }
  /* line 205, ../sass/screen.scss */
  .snap-drawers .list, .snap-drawer .list {
    background: #333; }
    /* line 207, ../sass/screen.scss */
    .snap-drawers .list li, .snap-drawer .list li {
      font-size: 0.85em;
      border: 0px;
      padding-left: 44px;
      background: transparent !important; }
      /* line 212, ../sass/screen.scss */
      .snap-drawers .list li a, .snap-drawer .list li a {
        padding-left: 0px;
        padding-right: 0px;
        border-bottom: 0px solid #444;
        background: transparent repeat-x bottom left url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='1'><rect fill='#444' x='0' y='0' width='1' height='0.5'/></svg>") !important; }
  /* line 221, ../sass/screen.scss */
  .snap-drawers .list-divider, .snap-drawer .list-divider {
    background: #333;
    color: #fff;
    text-transform: uppercase;
    text-shadow: none;
    font-weight: 400;
    letter-spacing: 1px;
    box-shadow: none;
    padding-left: 10px !important;
    border-bottom: 1px solid #444 !important; }

/* line 233, ../sass/screen.scss */
.tab-label {
  font-weight: 300;
  letter-spacing: 1px;
  color: #333; }

/* line 238, ../sass/screen.scss */
.bar-tab {
  background: #fff; }

/* line 241, ../sass/screen.scss */
.icon {
  font-family: 'FontAwesome'; }

/* line 244, ../sass/screen.scss */
.button-block {
  margin: 10px 10px;
  border: 0px;
  background: #7dc241;
  border-radius: 0.3em;
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
  text-shadow: none !important;
  box-shadow: 0px 0px 0px 0px !important; }
  /* line 254, ../sass/screen.scss */
  .button-block:hover {
    background: #8ac854;
    color: #fff; }

/* line 259, ../sass/screen.scss */
.sell-button {
  background: #fc0 !important;
  color: #333 !important;
  border-radius: 5px; }

/* line 264, ../sass/screen.scss */
.menu {
  padding-left: 5px !important; }

/* line 267, ../sass/screen.scss */
.login {
  margin: 10px 10px;
  border-radius: 5px; }

/* line 271, ../sass/screen.scss */
.facebook {
  background: #0048d0; }
  /* line 273, ../sass/screen.scss */
  .facebook:hover {
    background: #045bff; }
